

body {
    background-color: #141414;
    color: #FFFFFF;
    font-family: sans-serif;
}

header {

    display: flex;
    background-color: #101010;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color:#E50914
}

.links{
    gap:20px;
}

.links ul {
  display: flex;
  gap: 20px;
  list-style: none;
  text-decoration: none;
}

.hero {
    display: flex;
    align-items: flex-end;
    background-color: #333;
    height: 500px;
}

button {
    background-color: #E50914;
    border: none;
    color: white;
    margin-right: 15px;
    padding: 10px 20px;
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

/*Final do header e começo do shelf*/

.shelf h3{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
.shelf2 h3{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.conteiner-de-midia{
    display: flex;
    overflow-x: auto;
    margin-right: 10px;
    gap: 15px;
}

.card{
    display: flex;
    background-color: #555;
    height: 260px;
    width: 180px;
    
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

footer{
    background-color: #101010;
    text-align: center;
    padding: 30px;
}